.bg-gray {
	background-color: gray;
}

.border {
	&-1 {
		border: solid 1px black;
	}
}

.nav-left {
	float: left;
	display: flex;
}

.nav-right {
	float: right;
	display: flex;
}

header,
section,
footer,
nav {
	display: flex;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 0px;

	a {
		display: block;
		margin: 0px 10px;
		height: auto;
	}
}

nav {
	position: fixed;
	top: 0;
	right: 0;
}

section {
	height: 750px;
	justify-content: center;

	.searchbox-group {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 89px;
	}

	img {
		width: 272px;
		height: 92px;
		align-self: center;
	}

	.searchbox {
		border: solid gray 1px;
		border-radius: 10px;
		height: auto;
		width: auto;

		img,
		svg {
			width: 20px;
			height: 20px;
			margin: 9px 0px;
		}

		[type='search'] {
			width: 487px;
			height: 34px;
		}
	}

	.button-container {
		height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.button-group {
		display: flex;
		flex-direction: row;
		justify-content: center;

		button {
			margin: 10px;
		}
	}
}

footer {
	/*test */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
